* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  width: 100vw;
  height: 15vh;
  padding: 1rem 0;
  margin: 0 auto;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: solid white 1px;
}

.navbar__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 99;
}

.navbar__logo {
  margin-right: 2.5rem;
  cursor: pointer;
}

.navbar__logo-name {
  font-size: 2.5rem;
  color: #d4c0c0;
}

.navbar__logo-text {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: #d4c0c0;
}

.navbar__menu {
  width: 37vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar__menu-list {
  line-height: 2.5rem;
  list-style: none;
}

.navbar__menu-link {
  text-decoration: none;
  color: #d4c0c0;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar__menu-link:hover {
  color: #206e92;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar__hamburger {
  display: none;
}

.main_page {
  height: 90vh;
  width: 100vw;
  padding: 0 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 18, 18, 0.6))), url("../img/bg_developers.webp");
  background: linear-gradient(to bottom rgba(0, 0, 0, 0.7), rgba(24, 18, 18, 0.6)), url("../img/bg_developers.webp");
  background-size: cover;
  background-position: right;
  border-bottom: solid white 1px;
}

.main_page__container {
  height: 70vh;
  width: 67vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page__container h1 {
  font-size: 2.2rem;
  width: 40vw;
  text-align: center;
}

.main_page__container h1 span {
  font-size: 4rem;
  display: block;
}

.main_page-button__container {
  width: 40vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page-button__container .work_btn {
  height: 8rem;
  width: 8rem;
  border: none;
  border-radius: 50%;
  background: #181212;
  cursor: pointer;
}

.main_page-button__container .work_btn:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.main_page-button__container .work_btn a {
  color: #d4c0c0;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.main_page p {
  text-align: center;
  font-size: 0.9rem;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .navbar__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar__logo-name {
    font-size: 1.7rem;
  }
  .navbar__logo-text {
    font-size: 1rem;
  }
  .navbar__menu {
    width: 50vw;
  }
  .navbar__menu-link {
    font-size: 0.9rem;
  }
  /*Main Section*/
  .main_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_page__container {
    width: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_page__container h1 {
    font-size: 1.7rem;
    width: 70%;
  }
  .main_page__container h1 span {
    font-size: 2.6rem;
  }
  .main_page-button__container {
    width: 70%;
  }
  .main_page-button__container .work_btn {
    height: 6.5rem;
    width: 6.5rem;
  }
}

@media screen and (max-width: 650px) {
  .navbar__menu {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    z-index: -1;
    background-color: #553939;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar__menu.active {
    opacity: 1;
    top: 0%;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar__menu-link {
    font-size: 1rem;
    font-weight: bold;
    color: #d4c0c0;
  }
  .navbar__hamburger {
    display: block;
    cursor: pointer;
    z-index: 998;
  }
  .navbar__hamburger .line {
    width: 27px;
    height: 3px;
    margin: 5px 2px;
    background-color: #d4c0c0;
    list-style: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar__hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .navbar__hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
  }
  .navbar__hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-3px) rotate(-45deg);
            transform: translateY(-3px) rotate(-45deg);
  }
  .main_page {
    padding: 0;
  }
  .main_page__container {
    width: 100%;
    height: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .main_page__container h1 {
    font-size: 1.4rem;
    width: 70%;
  }
  .main_page__container h1 span {
    font-size: 2rem;
  }
  .main_page-button__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
    height: 50%;
  }
  .main_page-button__container .work_btn a {
    font-size: 0.7rem;
  }
  .main_page p {
    font-size: 0.85rem;
  }
}

body {
  background: #181212;
  color: #d4c0c0;
  position: relative;
}
/*# sourceMappingURL=style.css.map */