@import 'config';
@import 'navbar';
@import 'main';
@import 'projects';
@import 'footer';
@import 'experience';
@import 'responzive';


body{
    background: $background-color;
    color:$primary-text-color;
    position: relative;
}